th {background-color:#91e1f0;
}
table{ border: 1px solid black;
}
tr{border: 2px solid rgb(96, 154, 177);
height: 12px;

}
td{border: 2px solid black;
height: 12px;
}
body{background-color:blanchedalmond;

}